asgiref==3.9.2
channels==4.3.1
channels_redis==4.3.0
crispy-bootstrap5==0.7
dj-database-url==3.0.1
dj-rest-auth==7.0.1
Django==5.2.6
django-allauth==65.11.2
django-crispy-forms==2.4
djangorestframework==3.16.1
pygdal==3.6.2
msgpack==1.1.1
paho-mqtt==2.1.0
psycopg2-binary==2.9.10
PyMySQL==1.1.1
python-decouple==3.8
redis==5.0.8
sqlparse==0.5.3
whitenoise==6.11.0